.SettingsPage-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.SettingsPage-row {
  flex-flow: row nowrap;
  justify-content: center;
}

.SettingsPage-selected-difficulty {
  border: 2px solid #333;
}